/* Retira a margem de todos os elementos */
* {
    margin: 0;
}

/* Modifica todo o corpo do Site */
body {
    background-color: #bbbbbb;
    font-family: Calibri;
    font-size: 18px;
    color: #333333;
   }

/* Atribui modificações a class .topo que é o header, nosso cabeçalho */
.topo {
    background-color: #333333;
    padding: 30px;
}

/* Atribui modificações a class .topo a, que são os "ancoras", os links do cabeçalho */
.topo a {
    color: #bbbbbb;
    text-decoration: none;
    }

/* Atribui modificações a class .rodape, que é o nosso footer o rodapé do Site */
.rodape {
    background-color: #333333;
    color: #bbbbbb;
    padding: 30px;
}

/* Atribui modificações a class .materia, que é nosso article, nossas matérias ou notícias */
.materia {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu a:hover {
    color: #333333;
}

.menu li{
    margin-left: 20px;
}

/* Anterior era a class .materia a */
/* Atribui modificações a class .botao, que é o link de nossas matérias ou notícias */
.botao {
    background-color: #333333;
    color:#bbbbbb;
    text-decoration: none;
    padding: 10px;
}

.navegacao {
    display: flex;
}

/* Atribui modificações a estrutura do conteudo do Site */
main {
    padding: none;
}