/* Retira a margem de todos os elementos */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Modifica todo o corpo do Site */
body {
    background-color: #bbbbbb;
    font-family: Calibri;
    font-size: 18px;
    color: #333333;
   }

/* Atribui modificações a class .topo que é o header, nosso cabeçalho */
.topo {
    background-color: #333333;
    padding: 30px;
}

/* Atribui modificações a class .topo a, que são os "ancoras", os links do cabeçalho */
.topo a {
    color: #bbbbbb;
    text-decoration: none;
    }

/* Atribui modificações a class .rodape, que é o nosso footer o rodapé do Site */
.rodape {
    background-color: #333333;
    color: #bbbbbb;
    padding: 30px;
    text-align: center;
}

/* Atribui modificações a class .materia, que é nosso article, nossas matérias ou notícias */
.materia {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.materia img {
    width: 100%;
    margin-bottom: 20px;
}

.materia h1 {
    margin-bottom: 10px;
    font-size: 30px;
}

.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu a:hover {
    color: #333333;
}

.titulo {
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
}

.texto {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #555555;
}

.menu li{
    margin-left: 20px;
}

/* Anterior era a class .materia a */
/* Atribui modificações a class .botao, que é o link de nossas matérias ou notícias */
.botao {
    background-color: #333333;
    color:#bbbbbb;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    font-size: 18px;
    border: 0;
}

.botao:hover {
    background-color: #666666;
}

.navegacao {
    display: flex;
}

/* Atribui modificações a estrutura do conteudo do Site */
main {
    padding: 30px;
}

.grade {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
}

.contato {
    background-color: #ffffff;
    padding: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;   
}

.rotulo {
    display: block;
    margin-bottom: 20px;
}

.campo {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    font-family: Calibri;
    border: none;
    background-color: #cccccc;
}

.campo:focus {
    background-color: #eeeeee;
    outline: none;
}

textarea.campo {
    height: 150px;
    padding: 10px;
}

.mapa {
    width: 100%;
}